<div id="container" class="container">

    <div class="btn-right btn-category">
        <a href="/new-category" class="btn green">New Category</a>
    </div>

    <div class="card-form">
        <div class="card-header">
            <h1>Categories</h1>
        </div>

        {{#each category}}
        <div class="categories">
            <a class="categoryName" href="/category/{{category}}">{{categoryName}}</a>
            <div>
                <a href="/edit-category/{{_id}}" class="btn green"><i class='bx bx-edit'></i></a>
                <form class="form-category" action="/delete-category/{{_id}}?_method=delete" method="POST">
                    <input type="hidden" name="_mehtod" value="delete">
                    <button type="submit" class="btn red"><i class='bx bx-trash'></i></button>
                </form>
            </div>
        </div>
        {{/each}}

    </div>


</div>