<div class="card">
    <img src="https://icdn8.digitaltrends.com/image/digitaltrends_es/jupiter-juno-2019-500x500.jpg" class="img-article" alt="">
    <div class="card-body">
        <div class="title">
            <h2>Title of artilcle</h2>
        </div>
        <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolor nisi modi itaque unde debitis odio eveniet porro ratione harum!</p>
            <p class="fecha">10/03/2021 14:03 - <a href="" class="category">Planetas</a></p>
        </div>
        <a href="#" class="more">Read More</a>
    </div>
</div>

<div class="card">
    <img src="https://icdn8.digitaltrends.com/image/digitaltrends_es/jupiter-juno-2019-500x500.jpg" class="img-article" alt="">
    <div class="card-body">
        <div class="title">
            <h2>Title of artilcle</h2>
        </div>
        <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolor nisi modi itaque unde debitis odio eveniet porro ratione harum!</p>
            <p class="fecha">10/03/2021 14:03 - <a href="" class="category">Planetas</a></p>
        </div>
        <a href="#" class="more">Read More</a>
    </div>
</div>

<div class="card">
    <img src="https://icdn8.digitaltrends.com/image/digitaltrends_es/jupiter-juno-2019-500x500.jpg" class="img-article" alt="">
    <div class="card-body">
        <div class="title">
            <h2>Title of artilcle</h2>
        </div>
        <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolor nisi modi itaque unde debitis odio eveniet porro ratione harum!</p>
            <p class="fecha">10/03/2021 14:03 - <a href="" class="category">Planetas</a></p>
        </div>
        <a href="#" class="more">Read More</a>
    </div>
</div>

<div class="card">
    <img src="https://icdn8.digitaltrends.com/image/digitaltrends_es/jupiter-juno-2019-500x500.jpg" class="img-article" alt="">
    <div class="card-body">
        <div class="title">
            <h2>Title of artilcle</h2>
        </div>
        <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolor nisi modi itaque unde debitis odio eveniet porro ratione harum!</p>
            <p class="fecha">10/03/2021 14:03 - <a href="" class="category">Planetas</a></p>
        </div>
        <a href="#" class="more">Read More</a>
    </div>
</div>

<div class="card">
    <img src="https://icdn8.digitaltrends.com/image/digitaltrends_es/jupiter-juno-2019-500x500.jpg" class="img-article" alt="">
    <div class="card-body">
        <div class="title">
            <h2>Title of artilcle</h2>
        </div>
        <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolor nisi modi itaque unde debitis odio eveniet porro ratione harum!</p>
            <p class="fecha">10/03/2021 14:03 - <a href="" class="category">Planetas</a></p>
        </div>
        <a href="#" class="more">Read More</a>
    </div>
</div>
