* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* navegacion */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E34234;
    height: 50px;
    width: 100%;
}

nav * {
    text-decoration: none;
    list-style: none;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
    margin-left: 100px;
    font-weight: bold;
}

.logo img {
    margin-right: 6px;
}

nav ul {
    float: right;
    margin-right: 100px;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 1rem;
    padding: 7px 13px;
    border-radius: 3px;
    /* text-transform: uppercase; */
}

a.active, nav ul li a:hover {
    background: #e6685d;
    transition: .5s;
}

.checkbtn {
    font-size: 45px;
    line-height: 45px;
    color: white;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
/* fin navegacion */

/* tarjetas */
.card {
    margin: 40px auto;
    border-radius: 15px;
    min-height: 300px;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* box-shadow: 0 15px 30px rgb(60 72 94 / 45%); */
    box-shadow: 2px 8px 30px rgb(60 72 94 / 45%);
}

.img-article {
    border-radius: 10px 0px 0px 10px;
    height: 300px;
    width: 300px;
}

.title {
    margin: auto 10px;
    color: teal;
    padding-bottom: 5px;
    border-bottom: 1px solid #2c3e50;
}

.description {
    margin: 10px 10px;
}

.fecha {
    color: rgb(60, 60, 60);
    margin-top: 10px;
    font-size: 0.8rem;
}

.category {
    text-decoration: none;
    color: crimson;
}

.more {
    float: right;
    margin: auto 15px 15px auto;
    padding: 10px;
    color:white;
    border-radius: 4px;
    text-decoration: none;
    background: tomato;
}

.container {
    margin: 40px 15% auto 15% ;
    flex-direction: column;
}
/* fin tarjetas */

@media (max-width: 1124px) {
    .logo {
        font-size: 30px;
        margin-left: 50px;
    }
    nav ul {
        margin-right: 30px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .container {
        margin: 40px 10% auto 10%;
    }
}

@media (max-width: 858px) {
    .logo {
        margin-left: 30px;
    }

    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: darkslategrey /* #2c3e50 */;
        top: 50px;
        left: -100%;
        transition: all .5s;
    }
    nav ul li {
        display: flex;
        margin: 40px 0px;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    nav ul li a:hover, nav ul li a.active {
        background: none;
        color: #e6685d;
    }
    #check:checked ~ ul{
        left: 0;
    }

    .card {
        flex-direction: column;
        max-width: 400px;
    }
    .img-article{
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: auto;
    }
    .title {
        margin-top: 15px;
    }
    .container {
        margin: 40px 5% auto 5%;
    }
}