* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* navegacion */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E34234;
    height: 50px;
    width: 100%;
}

nav * {
    text-decoration: none;
    list-style: none;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
    margin-left: 100px;
    font-weight: bold;
}

.logo img {
    margin-right: 6px;
}

nav ul {
    float: right;
    margin-right: 100px;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 1rem;
    padding: 7px 13px;
    border-radius: 3px;
    /* text-transform: uppercase; */
}

a.active, nav ul li a:hover {
    background: #e6685d;
    transition: .5s;
}

.checkbtn {
    font-size: 45px;
    line-height: 45px;
    color: white;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

/* fin navegacion */

/* tarjetas */
.card {
    margin: 40px auto;
    border-radius: 15px;
    min-height: 300px;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* box-shadow: 0 15px 30px rgb(60 72 94 / 45%); */
    box-shadow: 2px 8px 30px rgb(60 72 94 / 45%);
}

.img-article {
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
    height: 300px;
    min-width: 300px;
    max-width: 300px;
}

.title {
    margin: auto 10px;
    color: teal;
    padding-bottom: 5px;
    border-bottom: 1px solid #2c3e50;
}

.description {
    margin: 10px 10px;
}

.card-body {
    width: 100%;
}

.fecha {
    color: rgb(60, 60, 60);
    margin-top: 10px;
    font-size: 0.8rem;
}

.category {
    text-decoration: none;
    color: crimson;
}

.more {
    float: right;
    margin: auto 15px 15px auto;
    padding: 10px;
    color:white;
    border-radius: 4px;
    text-decoration: none;
    background-color: tomato;
    transition: background-color .5s;
}
.more:hover {
    background-color: rgb(255, 117, 92);
}

.container {
    min-height: 85vh;
    margin: 40px 15% auto 15% ;
    flex-direction: column;
}
/* fin tarjetas */

/* alerts */

.alert {
    display: flex;
    height: 60px;
    max-width: 100%;
    /* min-width: 311px; */
    position: fixed;
    top: 60px;
    right: 0;
    border-radius: 4px 0px 0px 4px;
    align-items: center;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s, visibility 0.5s, right 1s;
    z-index: 11;
    overflow: hidden;
}

.success {
    background-color: rgb(143, 226, 143);
    color: green;
    border-left: 8px solid rgb(0, 187, 0);
}

.danger {
    background-color: rgb(226, 143, 143);
    color: rgb(128, 0, 0);
    border-left: 8px solid rgb(187, 0, 0);
}

.alert-hiden {
    opacity: 0;
    visibility: hidden;
    right: -50px;
}

.alert .bx {
    font-size: 1.8rem;
    margin: auto 10px;
    
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;
    margin: auto 0px auto 10px; 
    cursor: pointer;
}

.close-success {
    background-color: rgb(81, 225, 81);
}

.close-success:hover {
    background-color: rgb(54, 218, 54);
}

.close-danger {
    background-color: rgb(225, 81, 81);
}

.close-danger:hover {
    background-color: rgb(218, 54, 54);
}

.close-btn .bx-x {
    font-size: 1.5rem;
}

.error {
    margin: 5px 0;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    padding: 20px 10px;
    background-color: #ff7b6f;
    color: rgb(184, 0, 0);
}

/* fin alerts */

/* forms */

.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-form-login {
    display: block;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    border-top: 15px solid #E34234;
    box-shadow: 0 0 15px rgb(60, 60, 60);
    padding: 15px 5% 30px 5%;
    margin-bottom: 40px;
}

.card-form {
    border-radius: 10px;
    border-top: 15px solid rgba(60, 60, 60, 0.576);
    box-shadow: 0 0 15px rgb(60, 60, 60);
    padding: 15px 5% 30px 5%;
    margin-bottom: 40px;
}

.card-header {
    text-align: center;
    border-bottom: 1px solid #2c3e507c;
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 13px auto;
    width: 100%;
}   

.form-group input, .form-group textarea, .form-group select {
    border: 1px solid rgba(60, 60, 60, 0.576);
    border-radius: 5px;
    padding: 10px 5px;
    margin-top: 4px;
    box-shadow: 1px 1px 5px rgba(60, 60, 60, 0.439);
    resize: vertical;
}


.form-group select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.form-group select::-ms-expand {
    display: none;
}
.form-group i{
	position: absolute;
	right: 20px;
    top: calc(50%);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #2c3e50;
	border-bottom:4px solid #2c3e50;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
 
.content-select:hover i{
	margin-top: 3px;
}

.card-form-button {
    width: 100%;
    padding: 10px;
    color: white;
    background: #E34234;
    border: 1px solid #E34234;
    border-radius: 5px;
    margin-top: 10px;
    transition: background .5s;
}

.card-form-button:hover {
    background: #dd5549;
}

/* end forms */

/* estilo para botones */

.btn {
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background .5s;
    cursor: pointer;
}

.btn-right {
    display: flex;
    margin: -20px auto -20px auto;
    justify-content: flex-end;
}

.btn-float-right {
    float: right;
    margin-right: 10px;
}

.green {
    background-color: green;
    transition: all 0.5s;
}

.green:hover {
    background-color: rgb(46, 145, 46);
}

.red {
    background-color: red;
    transition: all 0.5s;
}

.red:hover {
    background-color: rgb(253, 46, 46);
}

/* fin de estilos para los botones */

/* estilos para los articulos */
.title-article {
    color: teal;
    text-align: center;
    /* text-decoration: underline dashed teal; */
    display: flex;
    padding: 20px 5px;
    font-size: 2.7em;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    min-height: 200px;
    box-shadow: 0px 6px 13px #616b7654;
}

.author {
    display: inline-block;
    font-size: .9rem;
    color: #404a54;
    margin-right: 20px;
    margin-bottom: 20px;
}

.date {
    display: inline-block;
    margin-right: 20px;
    font-size: .9rem;
    color: #404a54;
    margin-bottom: 20px;
}

.container-content h1,
.container-content h2,
.container-content h3,
.container-content h4,
.container-content h5,
.container-content h6 {
    padding: 15px 0 5px 0;
    margin: 10px 0;
}

.container-content p {
    margin: 15px 0;
}

.container-content {
    overflow: hidden;
    margin-bottom: 20px;
}

.container-content img {
    display: block;
    margin: 10px auto;
    max-height: 450px;
    object-fit: contain;
    width: 95%;
}

.container-content hr {
    border: 1px solid rgb(184, 184, 184);
    margin: 20px 0;
}

.container-content .videoContainer {
    width: 80%;
    position: relative;
    overflow: hidden;
    padding-top: 45%;
    margin: 0 auto;
}

.container-content .videoInner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-content code{
    display: block;
    border-left: 3px solid #E34234;
    margin: 10px 0;
}

.container-content ul , .container-content > ol{
    margin: 10px 5px 10px 35px;
}

.container-content a {
    color: darkcyan;
    text-decoration: none;
}

.container-content blockquote {
    display: block;
    border-left: 2px solid #616b76;
    color: rgb(97, 97, 97);
    padding: 10px 5px;
    margin: 5px 0;
}

/* fin de estilos para articulos */

footer {
    border-top: 1px solid #9c9ea0;
    text-align: center;
    position: relative;
    bottom: 0;
    padding: 20px 10px;
}

.form-category{
    display: inline-block;
}


.categories {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    column-gap: 15px;
    height: 30px;
}

.btn-category {
    margin-bottom: 20px;
}

.categories .categoryName {
    grid-column: 1;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: teal;
}

/* paginacion */

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.pagination * {
    text-decoration: none;
    list-style: none;
}

.pagination ul {
    display: flex;
    color: darkgrey;
}

.pagination ul li {
    display: inline-block;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: whitesmoke;
    border: 1px solid rgb(0, 120, 120);
    background-color: teal;
    transition: all .5s;
}

.link:hover {
    background-color: rgb(0, 151, 151);
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
}
.selected {
    background-color: rgb(0, 115, 115);
}

/* fin paginacion */

/* commentarios en los articulos */

.comments {
    padding: 10px 0 10px 0;
    border-top: 1px solid #616b76;
}

.commentary {
    display: flex;
    margin: 20px 0 20px 0px;
}

.commentary div {
    display: flex;
    flex-direction: column;
}

.commentary span {
    font-weight: bold;
    margin-bottom: 5px;
}

.commentary img {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.card-comment {
    margin-top: 20px;
    padding: 10px 0;
}

@media (max-width: 1124px) {
    .logo {
        font-size: 30px;
        margin-left: 50px;
    }
    nav ul {
        margin-right: 30px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .container {
        margin: 40px 10% auto 10%;
    }
}

@media (max-width: 858px) {

    .logo {
        margin-left: 30px;
    }

    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: darkslategrey /* #2c3e50 */;
        top: 50px;
        left: -100%;
        transition: all .5s;
        z-index: 1111;
    }
    nav ul li {
        display: flex;
        margin: 40px 0px;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    nav ul li a:hover, nav ul li a.active {
        background: none;
        color: #e6685d;
    }
    .navbar ul{
        z-index: 11111;
        left: 0;
    }

    .navbar {
        z-index: 111111;
        top: 0;
        position: fixed;
    }

    .card {
        flex-direction: column;
        max-width: 400px;
    }
    .img-article{
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: auto;
        min-width: unset;
        max-width: unset;
    }
    .title {
        margin-top: 15px;
    }
    .container {
        margin: 40px 5% auto 5%;
    }

    .margin-top {
        margin-top: 90px;
    }

    .title-margin {
        margin-top: 50px;
        margin-bottom: -50px;
    }

    .title-article {
        font-size: 2em;
    }

    .categories {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 680px) {

    .categories {
        grid-template-columns: 1.2fr .8fr;
    }
}