<form action="/delete-article/23423423423?_method=delete" method="POST">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
</form>