{{#if success_msg}}
<div id="alert" class="alert">
    <i class='bx bxs-check-circle' ></i>
    <span>{{success_msg}}</span>
    <div class="close-btn">
        <i class='bx bx-x'></i>
    </div>
</div>
{{/if}}