    <nav id="navbar">
      <a href="/" class="logo">
        <img src="/img/logo.png" height="40" width="40" alt="">  
        Blog
      </a>
      <div for="check" id="menu" class="checkbtn">
        <i class='bx bx-menu'></i>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
