<nav id="navbar">
  <a href="/" class="logo">
    <img src="/img/logo.png" height="40" width="40" alt="">
    Blog
  </a>
  <div for="check" id="menu" class="checkbtn">
    <i class='bx bx-menu'></i>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/category">Categories</a></li>
    <li><a href="/about">About</a></li>
    {{#if user}}
    <li><a href="/logout">Logout</a></li>
    {{/if}}
  </ul>
</nav>