    <nav>
      <input type="checkbox" id="check">
      <a href="" class="logo">
        <img src="/img/logo.png" height="40" width="40" alt="">  
        Blog
      </a>
      <label for="check" class="checkbtn">
        <i class='bx bx-menu'></i>
      </label>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
